body {
    background-color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Georgia, serif;

}

.header {
    background-color: white;
    height: 50px;
    border-bottom: 5px solid white;
}

.buttonsForAlgorithm {
    margin-top: 30px;
}

.realTime {
    height: 50px;
    border-radius: 20px;
    background-color: gold;
    border: 2px solid white;
}

.realTime:active,
.active {
    background: greenyellow;
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.onAll {
    height: 50px;
    margin: 30px;
    border-radius: 20px;
    background-color: gold;
    border: 2px solid white;
}

.onAll:active {
    background: greenyellow;
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.offAll {
    height: 50px;
    margin: 30px;
    border-radius: 20px;
    background-color: gold;
    border: 2px solid white;
}

.offAll:active {
    background: greenyellow;
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.createAlgorithm {
    margin-top: 30px;
    height: 50px;
    border-radius: 20px;
    background-color: gold;
    border: 2px solid white;
}

.createAlgorithm:active,
.active {
    background: greenyellow;
    top: 2px;
    left: 1px;
    box-shadow: none;
}


.send {
    margin-top: 5px;
    height: 40px;
    border-radius: 20px;
    background-color: gold;
    border: 2px solid white;
}

.send:active,
.active {
    background: greenyellow;
    top: 2px;
    left: 1px;
    box-shadow: none;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    background-color: gray;
    border: 2px solid white;

}

.button:active,
.active {
    background: white;
    top: 4px;
    left: 4px;
    box-shadow: none;
}
